
body{
    background-color: #00ff00;
}
@media screen and (min-width: 480px) and (max-width:768px) {
    
    body{
        background-color: #ff0000;
    }
}

@media screen and (min-width: 320px) and (max-width:480px) {
    
    body{
        background-color: #003cff;
    }
}